 /* loading custom font face */ 
@font-face {
    font-family: sombra;
    src: url(/assets/font/Sombra.ttf);
}

/*  */ 
body {
    font-family: sombra;
}

/* padding for every section */ 
section {
    padding: 0 4em;
}

.no_padding {
    padding: 0px 0px 0px 0px;
}

/* hiding mobile navigation */ 
#dropdownlinks {
    display: none;
}

.dropdownmenu {
    display: none;
}

/* heading styles */ 
h1 {
    font-size: 11.2em;
    line-height: 80%;
}

h2 {
    font-size: 4.8em;
    line-height: 80%;
}

h3 {
    font-size: 3.8em;
    line-height: 100%;
}

h4 {
    font-size: 1.4em;
    line-height: 100%;
}


p {
    color: #404040;
    font-size: 1.2em;
}

/* button styles */ 
.button {
    background-color: white;
    font-family: sombra;
    color: #404040;
    border-radius: 20px;
    font-size: 1em;
    border: 1px solid #404040;
    padding: 0.6em 1.8em;
    display: inline-block;
    text-align: center;
}

.alternate_button {
    background-color: black;
    font-family: sombra;
    border-radius: 20px;
    font-size: 1em;
    border: 1px solid #DCDCDC;
    padding: 0.6em 1.8em;
    display: inline-block;
    text-align: center;
}

.alternate_button p {
    color: #DCDCDC;
}

.alternate {
    color: white;
}

/* desktop navbar */ 
.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
    align-items: center;
    padding: 0 1em 0 3em;
}

.nav_logo {
    height: 5vh;
}

.nav_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.nav_links {
    display: flex;
    flex-direction: row;
}

.nav_links a {
    color: black;
    text-decoration: none;
    margin: 0em 2em;
    font-size: 1.1em;
}

.nav_links a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.title {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30vh 0 0 0;
}

.title h1 {
    overflow-wrap: break-word;
}

.alternate_title {
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30vh 0 0 0;
    margin: 20vh 0 0 0;
}

.alternate_title h1 {
    overflow-wrap: break-word;
    font-size: 9.7em;
}

/* individual sections */ 
.whats_on {
    margin: 40vh 0 0 0;
}

.whats_on_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 2em 0;
}

.whats_on_left {
    width: 50%;
}

.whats_on_right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.whats_on_bottom {
    height: 60vh;
    background-color: blueviolet;
    border-radius: 20px;
    margin: 2em 0 0 0;
}

.whats_on_bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}

.intro_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 35vh 0 0 0;
}

.intro_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.intro_h {
   width: 46%;
}

.intro_p {
    width: 40%;
}

.intro_img {
    width: 50%;
    height: 70vh;
}

.intro_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.intro_p p {
    align-self: flex-end;
}

.art_matters_contain {
    margin: 30vh 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.art_matters_left {
    width: 46%;
    display: flex;
    flex-direction: column;
}

.art_matters_left_img {
    height: 90vh;
}

.art_matters_left_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.art_matters_left_text {
    width: 60%;
    margin: 0 0 10em 0;
    align-self: flex-end;
}

.art_matters_right {
    width: 46%;
}

.art_matters_right_img {
    height: 90vh;
}

.art_matters_right_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.art_matters_right_text {
    width: 75%;
    margin: 4em 0 0 0;
    color: #404040;
}

.on_going_projects {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    margin: 25vh 0vh 0vh 0vh;
}

.on_going_projects_left {
    width: 30%;
    padding: 4em;
}

.on_going_projects_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.on_going_projects_mid {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4em 0em;
}

.on_going_projects_right {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4em;
    color: #DCDCDC;
}

.on_going_projects_right h4 {
    line-height: 100%;
}

.explore_previous_years {
    height: 55vh;
    display: flex;
    flex-direction: row;
    margin: 30vh 0vh;
}

.explore_previous_years_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 3em 0 0;
}

.explore_previous_years_lowertext h4 {
    margin: 0 0 1.5em 0;
    width: 80%;
}

.explore_previous_years_right {
    width: 50%;
    overflow: hidden;
}

.explore_previous_years_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.find_out_more {
    height: 55vh;
    display: flex;
    flex-direction: row;
    margin: 30vh 0 0 0;
}

.find_out_more_left {
    width: 50%;
    overflow: hidden;
}

.find_out_more_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.find_out_more_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 3em;
}

.find_out_more_lowertext h4 {
    margin: 0 0 1.5em 0;
    width: 80%;
}

.donate {
    display: flex;
    flex-direction: row;
    margin: 30vh 0 0 0;
    padding: 15vh 0;
    background-color: black;
    color: white;
    align-items: center;
}

.donate_left {
    width: 50%;
    padding: 0em 4em;
}

.donate_right {
    width: 50%;
    padding: 0em 4em;
}

.donate_right h4 {
    margin: 0 0 1.5em 0;
    width: 80%;
}
/* footer */ 
.footer {
    margin: 20vh 0 15vh 0;
}

.footer_top {
    border-bottom: 1px solid #404040;
    padding: 0 0 8vh 0;
}

.footer_bottom {
    padding: 8vh 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #404040;
}

.footer_bottom a {
    color: #404040;
    text-decoration: none;
}

.footer_bottom a:hover {
    color: #404040;
    text-decoration: underline;
}

.contour_returns_contain {
    margin: 40vh 0 0 0;
}

.contour_returns_top {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contour_returns_top_text {
    width: 60%;
}

.contour_returns_bottom {
    margin: 15vh 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

.contour_returns_left {
    width: 46%;
    display: flex;
    flex-direction: column;
}

.contour_returns_left_img {
    height: 90vh;
}

.contour_returns_left_img p {
    font-size: 0.8em;
}

.contour_returns_left_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.contour_returns_left_text {
    width: 75%;
    margin: 15vh 0 0 0;
    align-self: flex-end;
}

.contour_returns_right {
    width: 46%;
    display: flex;
    flex-direction: column;
}

.contour_returns_right_img {
    height: 90vh;
}

.contour_returns_right_img p {
    font-size: 0.8em;
}

.contour_returns_right_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.contour_returns_right_text {
    width: 60%;
    margin: 0 0 15vh 0;
}

.artists_responding {
    margin: 30vh 0 0 0;
    padding: 0 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.artists_left {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artists_left h4 {
    line-height: 130%;
}

.artists_right {
    width: 46%;
    height: 60vh;
}

.artists_right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.available_later {
    margin: 40vh 0 0 0;
    padding: 0em 4em;
}

.black_background {
    background-color: black;
}

.centre_image {
    margin: 25vh 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city_commissions_container {
    padding: 0 6em;
    margin: 30vh 0 0 0;
}

.city_commissions_top {
    width: 75%;
}

.city_commissions_bottom {
    margin: 30vh 0 0 0;
    width: 75%;
}

.city_commissions_bottom h4 {
    margin: 6vh 0 0 0;
}

.city_commissions_bottom p {
    margin: 4vh 0 0 0;
}

.year_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30vh 0 0 0;
}

.year_left {
    width: 17%;
    display: grid;
    flex-direction: column;
}

.year_left_bottom {
    align-self: flex-end;
}

.year_right {
    width: 76%;
}

.year_right_h2 {
}

.year_right_video {
    height: 70vh;
    margin: 16vh 0 0 0;
}

.year_right_video iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.year_right_mid_text {
    width: 60%;
    margin: 16vh 0 0 0;
}

.year_right_mid_text h4 {
    line-height: 110%;
}

.year_image_gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 16vh 0 0 0;
}

.gallery_column {
    flex: 20%;
    max-width: 20%;
    padding: 0 0;
}

.gallery_column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.year_gallery_img {
   height: 15vh;
   width: 100%;
}

.year_gallery_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.year_right_bottom {
    width: 80%;
    margin: 16vh 0 0 0;
}

.profile {
    display: flex;
    flex-direction: row;
    margin: 15vh 0 0 0;
    justify-content: space-between;
}

.profile_left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile_left h2 {
    margin: 0.2em 0 0 0;
}

.profile_right {
    width: 55%;
    height: 70vh;
}

.profile_left p {
    font-size: 1em;
}
 
 .profile_right img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     overflow: hidden;
 }

 .extra_margin {
     margin: 0 0 40vh 0;
 }

 .donate_intro_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 35vh 0 0 0;
}

.donate_intro_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.donate_intro_h {
   width: 48%;
}

.donate_intro_p {
    width: 45%;
}

 .form {
     margin: 20vh 0 0 0;
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 .form_left {
     width: 30%;
 }

 .form_right {
     width: 30%;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

input[type=text] {
     font-family: sombra;
     padding: 0.8em 0;
     font-size: 1em;
     border: none;
     border-bottom: 1px solid #6e6e6e;
     width: 80%;
 }

input[type=number] {
    font-family: sombra;
    padding: 0.8em 0;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid #6e6e6e;
    width: 80%;
}

 input[type=submit] {
    background-color: white;
    font-family: sombra;
    color: #404040;
    border-radius: 20px;
    font-size: 1em;
    border: 1px solid #404040;
    padding: 0.6em 1.8em;
    display: inline-block;
    margin: 3em 0 0 0;
 }

 /* changes for different screen sizes */ 
 @media only screen and (max-width: 1200px) {
    h1 {
        font-size: 10em;
        line-height: 80%;
    }

    #dropdownlinks {
        display: none;
    }
    
    .dropdownmenu {
        display: none;
    }

    .alternate_title h1 {
        overflow-wrap: break-word;
        font-size: 9em;
    }
    
    h2 {
        font-size: 4.2em;
        line-height: 80%;
    }
    
    h3 {
        font-size: 3.4em;
        line-height: 100%;
    }

    h4 {
        font-size: 1.2em;
        line-height: 100%;
    }

    p {
        font-size: 1.1em;
    }

    .profile_left p {
        font-size: 0.8em;
    }

    .donate_intro_h {
        width: 48%;
    }

    .nav_links a {
        color: black;
        text-decoration: none;
        margin: 0em 1em;
        font-size: 0.9em;
    }
  }

  @media only screen and (max-width: 1000px) {
    .nav_bar {
        height: 15vh;
        align-items: center;
        padding: 0 1em 0 3em;
    }
        
    .nav_links a {
        color: black;
        text-decoration: none;
        margin: 0em 1.3em;
        font-size: 1em;
    }

    #dropdownlinks {
        display: none;
    }
    
    .dropdownmenu {
        display: none;
    }

    h1 {
        font-size: 8em;
    }

    h2 {
        font-size: 3.8em;
    }

    h3 {
        font-size: 3em;
    }

    h4 {
        font-size: 1em;
    }

    .centre_image {
        margin: 20vh 0 0 0;
    }

    .alternate_title h1 {
        font-size: 7em;
    }

    .available_later {
        margin: 20vh 0 0 0;
    }

    .donate {
        margin: 20vh 0 0 0;
    }

    .explore_previous_years {
        margin: 15vh 0;
    }

    .find_out_more {
        margin: 10vh 0 0 0;
    }

    .intro_text {
        margin: 20vh 0 0 0;
    }

    .donate_intro_h {
        width: 55%;
    }

    .donate_intro_p {
        width: 40%;
    }
  }

  /* where burger menu kicks in */ 
  @media only screen and (max-width: 880px) {
      .nav_links {
          display: none;
    }

    .nav_bar {
        height: 15vh;
        align-items: center;
        padding: 0 3em;
    }

    .burger {
        display: flex;
        flex-direction: column;
    }

    .line {
        width: 30px;
        height: 4px;
        background-color: black;
        margin: 3px 0;
    }

    #dropdownlinks {
        display: none;
        flex-direction: column;
    }

    .dropdownmenu {
        display: block;
    }

    #dropdownlinks a {
        width: 100%;
        padding: 1.4em 2em;
        text-decoration: none;
        color: black;
        background-color: rgb(246, 246, 246);
    }

    h1 {
        font-size: 6.8em;
    }

    .on_going_projects {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        margin: 25vh 0vh 0vh 0vh;
    }
    
    .on_going_projects_left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4px;
    }
    
    .on_going_projects_left img {
        margin: 10vh 0 0 0;
        width: 50vw;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
    
    .on_going_projects_mid {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 6em 4em 2em 4em;
    }
    
    .on_going_projects_right {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 4em 3em 4em;
        color: #DCDCDC;
    }
    
    .on_going_projects_right h4 {
        line-height: 100%;
        margin: 0 0 2em 0;
    }

    .explore_previous_years {
        display: flex;
        flex-direction: column;
        margin: 20vh 0vh 10vh 0;
        height: auto;
    }
    
    .explore_previous_years_left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 3em 3em 0;
    }
    
    .explore_previous_years_lowertext h4 {
        margin: 1em 0 1.5em 0;
        width: 100%;
    }
    
    .explore_previous_years_right {
        display: none;
    }
    
    .find_out_more {
        display: flex;
        flex-direction: column;
        margin: 10vh 0vh 20vh 0;
        height: auto;
    }
    
    .find_out_more_left {
        display: none;
    }
    
    .find_out_more_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .find_out_more_right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 3em 3em 0;
    }
    
    .find_out_more_lowertext h4 {
        margin: 1em 0 1.5em 0;
        width: 100%;
    }

    .donate {
        padding: 10vh 0;
    }

    .alternate_title h1 {
        font-size: 6em;
    }

    .city_commissions_top {
        width: 100%;
    }

    .intro_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    p {
        font-size: 1em;
    }

    .profile {
        display: flex;
        flex-direction: row;
        margin: 15vh 0 0 0;
        justify-content: space-between;
    }
    
    .profile_left {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .profile_left h2 {
        margin: 0.2em 0 0 0;
    }
    
    .profile_right {
        width: 55%;
        height: 70vh;
    }
    
    .profile_left p {
        font-size: 1em;
    }
     
     .profile_right img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         overflow: hidden;
     }

     .long_text {
         display: none;
     }

     .donate_intro_h h2 {
         font-size: 3.2em;
     }
     
     .form_right h2 {
         line-height: 96%;
     }

     .form_left {
         width: 45%;
     }

     .form_right {
         width: 45%;
     }
  }
  @media only screen and (max-width: 708px) {
    h1 {
        font-size: 6em;
    }
    
    h2 {
        overflow-wrap: break-word;
        font-size: 2.8em;
    }
    
    h3 {
        font-size: 2.6em;
    }
    
    .art_matters_contain {
        margin: 30vh 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .art_matters_left {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .art_matters_left_img {
        height: 90vh;
    }
    
    .art_matters_left_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
    
    .art_matters_left_text {
        width: 100%;
        margin: 0 0 10em 0;
        align-self: flex-end;
    }
    
    .art_matters_right {
        width: 100%;
    }
    
    .art_matters_right_img {
        height: 90vh;
    }
    
    .art_matters_right_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
    
    .art_matters_right_text {
        margin: 4em 4em 0 4em;
        color: #404040;
    }

    .art_matters_right_text p {
        overflow-wrap: break-word;
    }

    .intro_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 35vh 0 0 0;
    }
    
    .intro_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }
    
    .intro_h {
       width: 100%;
    }
    
    .intro_p {
        width: 100%;
    }
    
    .intro_img {
        width: 100%;
        height: 70vh;
    }
    
    .intro_img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        overflow: hidden;
    }
    
    .intro_p p {
        align-self: flex-end;
        margin: 2em 0 0 0;
    }

    .artists_responding {
        margin: 30vh 0 0 0;
        padding: 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .alternate_title h1 {
        font-size: 5em;
    }

    .city_commissions_container {
        padding: 0 4em;
        margin: 30vh 0 0 0;
    }

    .donate_intro_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .donate_intro_h {
        width: 100%;
    }

    .donate_intro_p {
        width: 100%;
        margin: 2em 0 0 0;
    }
  }

  @media only screen and (max-width: 588px) {
    h1 {
        font-size: 5em;
    }

    .intro_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20vh 0 0 0;
    }
    
    .donate {
        margin: 10vh 0 0 0;
    }

    .find_out_more {
        display: flex;
        flex-direction: column;
        margin: 10vh 0vh 10vh 0;
        height: auto;
    }

    .donate_right h4 {
        margin: 0 0 1em 0;
        width: 100%;
    }

    .alternate_title h1 {
        font-size: 4em;
    }

    h3 {
        font-size: 2em;
    }

    .year_left {
        display: none;
    }

    .year_right {
        width: 100%;
    }

    .find_out_more_right {
        padding: 0 3em 0 0;
    }

    .donate_right {
        width: 50%;
        padding: 0em 4em 0 0;
    }

    .profile {
        display: flex;
        flex-direction: column;
        margin: 15vh 0 0 0;
        justify-content: space-between;
    }

    .profile_left {
        width: 100%;
    }

    .profile_right {
        width: 100%;
        height: 40vh;
        margin: 2em 0 0 0;
    }

    .whats_on {
        margin: 20vh 0 0 0;
    }
}

@media only screen and (max-width: 468px) {
    h1 {
        font-size: 3.4em;
    }

    h3 {
        font-size: 1.8em;
    }

    section {
        padding: 0 2em;
    }
    
    .title {
        margin: 15vh 0 0 0;
    }

    .whats_on_top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 2em 0;
    }

    .whats_on_left {
        width: 100%;
    }

    .whats_on_right {
        width: 100%;
        margin: 2em 0 0 0;
    }

    .whats_on_right h4 {
        margin: 0 0 2em 0;
    }

    .art_matters_contain {
        margin: 15vh 0 0 0;
    }

    .art_matters_left_text {
        margin: 0 0 10vh 0;
    }

    .centre_image {
        margin: 10vh 0 0 0;
    }

    .intro_img {
        width: 100%;
        height: auto;
        margin: 3em 0 0 0;
    }

    .on_going_projects {
        margin: 10vh 0vh 0vh 0vh;
    }

    .donate {
        display: flex;
        flex-direction: column;
        margin: 10vh 0 0 0;
        padding: 3em;
    }

    .donate_left {
        width: 100%;
        padding: 0em 2em 2em 2em;
    }

    .donate_right {
        width: 100%;
        padding: 0em 0em 0 0;
    }

    .footer {
        margin: 10vh 0;
    }

    .footer_bottom a {
        font-size: 0.7em;
    }

    .explore_previous_years {
        margin: 10vh 0vh 10vh 0;
    }

    .contour_returns_contain {
        margin: 20vh 0 0 0;
    }

    .contour_returns_bottom {
        margin: 10vh 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .contour_returns_left {
        width: 100%;
    }

    .contour_returns_left_img {
        height: 60vh;
    }

    .contour_returns_left_text {
        margin: 15vh 0 0 0;
    }

    .contour_returns_left_text {
        overflow-wrap: break-word;
        width: auto;
        padding: 0 2em;
    }

    .contour_returns_right_text {
        width: auto;
        margin: 3em 0 15vh 0;
        padding: 0 2em;
    }

    .contour_returns_right {
        width: 100%;
    }

    .contour_returns_right_img {
        height: 60vh;
    }

    .artists_responding {
        margin: 15vh 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .artists_left {
        width: 100%;
    }

    .artists_right {
        width: auto;
        height: 60vh;
        margin: 10vh 0 0 0;
    }

    .available_later {
        margin: 10vh 0 0 0;
    }

    .alternate_title {
        color: white;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10vh 0 0 0;
        margin: 10vh 0 0 0;
    }

    .alternate_title h1 {
        font-size: 3em;
    }

    .nav_logo {
        height: 4vh;
    }

    .nav_bar {
        height: 12vh;
        align-items: center;
        padding: 0 2em 0 2em;
    }

    .city_commissions_container {
        padding: 0 4em;
        margin: 15vh 0 0 0;
    }

    .city_commissions_bottom {
        margin: 15vh 0 0 0;
        width: 100%;
    }

    .explore_previous_years {
        margin: 15vh 0vh 10vh 0;
    }

    .year_section {
        margin: 15vh 0 0 0;
    }

    .extra_margin {
        margin: 0 0 15vh 0;
    }

    .donate_intro_h h2 {
        font-size: 2.8em;
    }

    .form {
        margin: 10vh 0 20vh 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form_right {
        width: 100%;
    }

    .form_left {
        width: 100%;
    }

    input[type=submit] {
        margin: 1em 0 0 0;
    }

    .form_right h2 {
        line-height: 96%;
        margin: 1em 0 0 0;
    }

    .donate_intro_text {
        margin: 15vh 0 0 0;
    }
}

@media only screen and (max-width: 375px) {
    h1 {
        font-size: 3em;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 2.8em;
    }

    h2 {
        font-size: 2.6em;
    }

    .button {
        display: block;
    }

    a {
        text-decoration: none;
    }

    .whats_on_bottom {
        height: 40vh;
    }

    .art_matters_left_img {
        height: 40vh;
    }

    .art_matters_right_img {
        height: 40vh;
    }

    .art_matters_right_text {
        margin: 4em 2em 0 2em;
        color: #404040;
    }

    h2 {
        font-size: 2em;
    }

    .on_going_projects_mid {
        width: auto;
        padding: 6em 2em 2em 2em;
    }

    .on_going_projects_right {
        width: auto;
        padding: 0 2em 3em 2em;
    }

    h3 {
        font-size: 1.2em;
    }

    .footer_bottom {
        padding: 6vh 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
    }

    .footer_bottom a {
        margin: 0.6em 0;
    }

    .footer_top {
        border-bottom: 1px solid #404040;
        padding: 0 0 6vh 0;
    }

    .footer {
        margin: 3em 0;
    }

    .contour_returns_left_img {
        height: 40vh;
    }

    .available_later {
        margin: 10vh 0 0 0;
        padding: 0em 2em;
    }

    h4 {
        font-size: 0.8em;
    }

    h3 {
        font-size: 1.4em;
    }

    .footer_top h3 {
        font-size: 1.4em;
    }

    .alternate_title h1 {
        font-size: 2.4em;
    }

    .centre_image img {
        height: 40vh;
    }

    .city_commissions_container {
        padding: 0 2em;
        margin: 10vh 0 0 0;
    }

    .city_commissions_bottom p {
        font-size: 0.8em;
    }

    .gallery_column {
        flex: 50%;
        max-width: 50%;
        padding: 0 0;
    }

    .year_right_bottom {
        width: 100%;
        margin: 16vh 0 0 0;
    }

    .year_right_mid_text {
        width: 100%;
        margin: 16vh 0 0 0;
    }

    .intro_h h3 {
        font-size: 1em;
    }

    .intro_p p {
        font-size: 0.8em;
    }

    .donate_intro_h h2 {
        font-size: 2.2em;
    }

}